.navi {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #07061a;
    position: sticky;
    top: 0px;
}

.navi a {
    padding: 0.9rem;
    display: flex;
    color: #f6f6f6;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 8px;
}

.navi a:hover {
    background: rgb(29, 26, 52);
}

.navi a.active {
    color: white;
}

@media (max-width: 768px) {
    .navi {
        display: none;
    }
}