.root {
    /* background-image: url("./assets/images/background.png"); */
    background: rgb(5,4,19);
    background: linear-gradient(90deg, rgba(5,4,19,1) 37%, rgba(14,14,54,1) 69%);
    /* background: rgb(5,4,19);
    background: radial-gradient(circle, rgba(5,4,19,1) 37%, rgba(14,14,54,1) 69%); */
    /* background: rgb(5,4,19);
    background: radial-gradient(circle, rgba(5,4,19,1) 37%, rgba(6,6,38,1) 69%);     */
    /* background-size: cover; */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.copyright {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .copyright {
        font-size: 12px;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}