.root {
    background-image: url("./assets/images/background.png");
    background-size: cover;
}

.copyright {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}

@media (max-width: 768px) {
    .copyright {
        font-size: 12px;
    }
}